.pushups {
    width: 500px;
    margin: 0 auto;
    padding: 90px 20px;
    position: relative;
    height: 100vh;
}

.pushups__title {
    font-size: 36px;
    font-weight: 800;
}

.pushups__descr {

}

.pushups__button {
    width: 100%;
    padding: 19px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: 18px;
    background: #3F65FF;
    color: #fff;
    cursor: pointer;
    margin-top: 40px;
}